*{
    box-sizing: border-box;
}
body{
    padding: 0px;
    margin: 0px;
    background-color: #e4e4e4;
    font-size: 16px;
}

/*Navbar*/

#nav-bar{
    margin-bottom: 30px;
    background-color: #ffffff;
    text-align: center;
}
#nav-bar .icon-container{
    display: block;
    padding: 20px;
}
#nav-bar .icon-container:hover{
    background-color: #ffa500;
    cursor: pointer;
}
#nav-bar ul{
    display: none;
}

/*Main Content*/
