* {
    box-sizing: border-box;
}
body {
    padding: 0px;
    margin: 0px;
    background-color: #e4e4e4;
    font-family: 'Open Sans' ,sans-serif;
    font-size: 16px;
}

/* Main Content */
#main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
}

/* Main News */

#main-container {
    margin-bottom: 30px;
}

/* Secondary News */

#secondary-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}

/* Links */

.link  {
    padding: 10px;
    background-color: #000;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.link:hover {
    background-color: #fff;
    color: #000;
}

/* Main Articles */

.main-article {
    margin-bottom: 20px;
    border-bottom: solid 1px #a1a1a1;
}
.main-article img {
    width: 100%;
}
.main-article .text-container {
    padding: 20px;
    margin-bottom: 10px;
}
.main-article .text-container h2 {
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 35px;
}
.main-article .text-container p {
    line-height: 24px;
}

/* Secondary Articles */
.secondary-article {
    display: flex;
    margin-bottom: 15px;
    border-bottom: 1px solid #a1a1a1;
}
.secondary-article .img-container {
    flex:1
}
.secondary-article img {
    width: 100%;
    height: 100%;
}
.secondary-article .text-container {
    flex: 2;
    padding: 10px 20px;
    position: relative;
}
.secondary-article .text-container h3 {
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
}
.secondary-article .text-container a {
    display: inline-block;
    margin-top: 10px;
}

/* Ads */
#ads {
    background-color: #000;
    border-radius: 10px;
}
#ads h4 {
    text-align: center;
    font-size: 20px;
    color: #fff
}
#ads h4 a {
    color: #f00;
    text-decoration: none;
}
#ads h4 a:hover {
    text-decoration: underline;
}
#ads img {
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

@media (min-width:768px) {
    #main-content {
        margin: 30px auto;
    }
    .link {
        display: inline-block;
        margin-top: 20px;
    }
    #main-container {
        width: 55%;
        margin: 0px;
    }
    #secondary-container {
        justify-content: flex-start;
        width: 40%;
        padding-top: 20px;
        border-top: solid 2px black
    }
    .secondary-article .img-container  {
        display: none;
    }
    .secondary-article {
        width: 100%;
    }
}
@media (min-width: 1024px) {
    .secondary-article .img-container {
        display: initial;
    }
    .secondary-article .text-container h3 {
        font-size: 20px;
    }
}